{% extends "base.html.twig" %}
{% block title %}
    Connexion
{% endblock %}
{% block body %}
    

    <div class="container-fluid mt-5 full-height">
        <h1 class="text-center">Formulaire de connexion</h1>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{{ handle_user_form_connexion}}" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <button type="submit" class="btn btn-primary submitBtn">Envoyer</button>
                </form>
            </div>
        </div>
    </div>   
{% endblock %}